.header-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.icon-star {
  margin-right: 5px;
}

.icon-profile {
  font-size: 20px;
  margin-left: 15px;
}
