.item-done {
  width: 100%;
  height: auto;
  color: white;
  margin-bottom: 15px;
  background-color: #009688;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: grab;
}

.item-header {
  padding: 5px;
  padding-bottom: 24px;
}

.icon {
  font-size: 14px;
}

.icon-edit {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}

.icon-edit:hover {
  font-size: 16px;
}

.item-content {
  min-height: 19px;
  padding-top: 0.1em;
  padding-right: 15px;
  padding-left: 0.1em;
  font-size: 14px;
  word-break: break-word;
  white-space: pre-line;
}

.item-social {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.like {
  margin-right: 10px;
}

.item-edit {
  width: 100%;
  height: auto;
  border: 8px solid #009688;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.item-input {
  padding: 5px 30px 0px 5px;
  border: none;
  overflow: auto;
  height: 100%;
  width: 100%;
  text-rendering: auto;
}

.item-input::-webkit-scrollbar {
  display: none;
}
.item-edit-header {
  padding-bottom: 24px;
}

.item-input:focus {
  outline: none;
}

.icon-feel {
  position: absolute;
  right: 10px;
  top: 5px;
}
.item-control {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.item-control button {
  margin-right: 10px;
  background-color: #00c853;
  border: none;
}

.item-control button:hover {
  outline: none;
  background-color: #00a946;
}
