.board-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.add-button {
  display: block;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: #ddd;
  margin-bottom: 15px;
  margin-left: 15px;
}

.add-button:hover {
  border: none;
  background: #ccc;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
  margin-left: 15px;
}
.square-icon {
  margin-right: 10px;
  border: 50%;
}

.drop-space {
  height: 100%;
  margin-left: 15px;
}
.drag-item {
  margin-bottom: 15px;
}
