.header-filter {
  display: flex;
  height: 47px;
  align-items: center;
  margin-left: 15px;
}

.logo {
  margin-right: 10px;
  font-size: 2em;
}

.search {
  height: 27px;
  border-radius: 20px;
  border: none;
}

.search:focus {
  outline: none;
}
