@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

.main {
  background-color: #eee;
  height: 100vh;
  padding-top: 20px;
}

.main ul {
  list-style-type: none;
  margin-top: 0;
}

.board-item {
  display: inline-block;
  margin: 10px;
  min-width: 16%;
  max-width: 275px;
  vertical-align: top;
  background-color: white;
}

.board-item.add-item {
  border: 2px dashed #ccc;
  border-radius: 2px;
}
.board-item.add-item:hover {
  border-color: #8e24aa;
}

.board-item.add-item:active {
  border: 2px solid black;
}

.board-item .add {
  display: inline-flex;
  width: 100%;
  height: max-content;
  margin: 10px 0px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-item .add-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8e24aa;
  border-radius: 50%;
  color: white;
  width: 60px;
  height: 60px;
  font-size: 16px;
  font-weight: 100;
}

.board-item small {
  display: block;
  margin-top: 5px;
  color: #8e24aa;
}

.dashboard-small {
  border: 2px solid white;
  box-shadow: 0 2px 4px 0 rgba(192, 208, 230, 0.5);
}

.dashboard-small:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dashboard-item-body {
  padding: 20px;
}

.dashboard-item-body {
  padding: 20px;
  font-size: 15px;
}

.dashboard-item-body .board-name {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}
.dashboard-item-body .board-date {
  color: #999;
}

.dashboard-item-body .board-date .icon-clock {
  margin-right: 5px;
}

.dashboard-item-body .board-number-card {
  float: right;
  color: #999;
  padding: 0;
  margin: 0px;
}
